.progress {
  display: grid;
  grid-template-rows: repeat(2, min-content);

  animation: 0.2s smoothPageReveal forwards;
}

@keyframes smoothPageReveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}