.exercise-box {

    position: relative;
    padding: 1rem 0;
    padding-left: 6.5rem;
    display: flex;
    flex-direction: column;

    &__number {
        position: absolute;
        width: 4.5rem;
        line-height: 4.5rem;
        border-radius: 50%;
        font-size: 2rem;
        text-align: center;

        left: .8rem;
        top: 50%;
        transform: translateY(-50%);

        border: 1px solid rgba(255, 255, 255, 0.637);

    }

    &__link {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    &__sets {
        font-size: 1.2rem;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .20);
    }

    &__menu {
        position: absolute;
        

        top: 50%;
        right: 0;
        width: 4rem;
        height: 4rem;
        line-height: 0;
        font-size: 3.5rem;
        color: rgba(255, 255, 255, 0.637);
        text-align: right;
        &::after {

            content: '\2807';
          

        }

    
    }

    &__menu-dialog {
        position: absolute;

        top: 20%;
        right: -10rem;
        background-color: rgb(54, 54, 54);
        padding: .5rem 1.5rem;
        
        font-size: 1.5rem;

        ul {
            list-style: none;

            li {
                padding: 0.2rem 0;
            }
        }

        &--active {
            top: 45%;
            right: -1rem;
        }
    }


    
}

a { 
    text-decoration: none;
    color: #fff;
}