.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.3rem;
  background-color: #394359;
  color: #fff;
  padding: 0.5rem 0 1rem 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    height: 7vh;
  }

  &__item {
    display: inline-block;
    margin-top: 1rem;
  }

  &__link:link,
  &__link:visited {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: currentColor;
    font-family: "Heebo", sans-serif;
    transition: all 0.2s;
  }
  &__link:active {
    text-decoration: none;
    transform: translateY(2px);
  }

  &__icon {
    fill: #fff;
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.7rem;
  }
}
