.homepage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 4rem;

  animation: 0.2s smoothPageReveal forwards;
}

@keyframes smoothPageReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
